# **Handling Missing Data**

## **Missing Indicator**

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('train.csv',usecols=['Fare','Age','Survived'])
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop(columns='Survived'),df['Survived'],test_size=0.2)

In [28]:
from sklearn.impute import SimpleImputer

mi = SimpleImputer(add_indicator=True)

X_train = mi.fit_transform(X_train)
X_test = mi.fit_transform(X_test)

In [29]:
pd.DataFrame(X_train).head()

           0       1    2
0  29.737622  7.2250  1.0
1  28.000000  9.5000  0.0
2  34.500000  6.4375  0.0
3  29.737622  8.0500  1.0
4  29.737622  7.7500  1.0

In [30]:
pd.DataFrame(X_test).head()

           0        1    2
0  18.000000  227.525  0.0
1  30.000000   13.000  0.0
2  29.544014    8.050  1.0
3  29.544014   52.000  1.0
4  42.000000    7.550  0.0