# **EDA using  uni-variate analysis**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
df = pd.read_csv('ds_salaries.csv')
df.head()

### **ID**

#### checking for uniqueness of id column

In [ ]:
unique = df['id'].duplicated()
is_unique = ~(unique.any())
print('The id column is unique: ',is_unique)

### **Work Year**

In [ ]:
pd.DataFrame(df.groupby('work_year'))[0]

### **Experience Level**

In [ ]:
sns.barplot(df['experience_level'])

### **Employement Type**

#### most commont employement type

In [ ]:
pd.DataFrame(df['employment_type'].mode())

In [ ]:
sns.barplot(df['employment_type'])

### **Job Title**

#### List of job titles

In [ ]:
pd.DataFrame(df.groupby('job_title'))[0]

#### most popular job

In [ ]:
x = pd.DataFrame(df.groupby('job_title').count().idxmax())[0][1]
print('The most popular job is ',x)

#### least popular job

In [ ]:
x = pd.DataFrame(df.groupby('job_title').count().idxmin())[0][1]
print('The least popular job is ',x)

### **Salary**

#### Average salary

In [ ]:
df['salary'].mean().round()

#### Maximum Salary

In [ ]:
df['salary'].max()

#### Minimum Salary

In [ ]:
df['salary'].min()

### **Salary Currency**

#### List of currency salaries

In [ ]:
pd.DataFrame(df.groupby('salary_currency'))[0]

#### High using salary currency

In [ ]:
pd.DataFrame(df.groupby('salary_currency').count().idxmax())[0][1]

#### Min using salary currency

In [ ]:
pd.DataFrame(df.groupby('salary_currency').count().idxmin())[0][1]

### **Salary in USD**

#### Average

In [ ]:
df['salary_in_usd'].mean().round()

#### Max

In [ ]:
df['salary_in_usd'].max().round()

#### Min

In [ ]:
df['salary_in_usd'].min().round()

### **Employee Residence**

#### List of employee residence

In [ ]:
pd.DataFrame(df.groupby('employee_residence'))[0]

#### Most frequent

In [ ]:
pd.DataFrame(df.groupby('employee_residence').count().idxmax())[0][1]

#### Least frequent

In [ ]:
pd.DataFrame(df.groupby('employee_residence').count().idxmin())[0][1]

### **Remote Ratio**

In [ ]:
pd.DataFrame(df.groupby('remote_ratio'))[0]

In [ ]:
sns.barplot(pd.DataFrame(df.groupby('remote_ratio'))[0])

### **Company Location**

#### List of company location

In [ ]:
pd.DataFrame(df.groupby('company_location'))[0]

#### Most Frequest

In [ ]:
pd.DataFrame(df.groupby('company_location').count().idxmax())[0][1]

#### Least Frequent

In [ ]:
pd.DataFrame(df.groupby('company_location').count().idxmin())[0][1]

### **Company Size**

#### List of company sizes exist

In [ ]:
pd.DataFrame(df.groupby('company_size'))[0]

#### Most Frequent company size

In [ ]:
pd.DataFrame(df.groupby('company_size').count().idxmax())[0][1]

#### Least frequent company size

In [ ]:
pd.DataFrame(df.groupby('company_size').count().idxmin())[0][1]