# **Handling Missing Data**

## **Multivariate Imputer**

### **Iterative Imputer/MICE**

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('train.csv')[['Survived','Age','Fare']]
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [27]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [28]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor

imputer = IterativeImputer(estimator=RandomForestRegressor(),random_state=0)

df_imputed = pd.DataFrame(imputer.fit_transform(df))

c:\Python311\Lib\site-packages\sklearn\impute\_iterative.py:800: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [29]:
df_imputed

       0          1        2
0    0.0  22.000000   7.2500
1    1.0  38.000000  71.2833
2    1.0  26.000000   7.9250
3    1.0  35.000000  53.1000
4    0.0  35.000000   8.0500
..   ...        ...      ...
886  0.0  27.000000  13.0000
887  1.0  19.000000  30.0000
888  0.0  30.085679  23.4500
889  1.0  26.000000  30.0000
890  0.0  32.000000   7.7500

[891 rows x 3 columns]

In [30]:
df_imputed.isnull().sum()

0    0
1    0
2    0
dtype: int64