# **Power Transformer**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df.drop('Strength',axis=1),df['Strength'])

### BOX-COX transformer

In [ ]:
from sklearn.preprocessing import PowerTransformer

trf = PowerTransformer(method='box-cox')

X_train_transformed = trf.fit_transform(X_train + 0.000001)
X_test_transformed = trf.transform(X_test + 0.00000001)

### YEO-JOHNSON transformer

In [ ]:
trf1 = PowerTransformer()

X_train_transformed = trf.fit_transform(X_train + 0.000001)
X_test_transformed = trf.transform(X_test + 0.00000001)