# **Encoding nominal categorical data**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ds_salaries.csv')
df.head()

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [3]:
df1 = df.iloc[: , [2,3,6]]
df1.head()

  experience_level employment_type salary_currency
0               MI              FT             EUR
1               SE              FT             USD
2               SE              FT             GBP
3               MI              FT             USD
4               SE              FT             USD

In [4]:
x = df1.drop('salary_currency',axis=1)
y = df1['salary_currency']

In [5]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y)

In [6]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(y_train)

le.transform(y_train)

array([15,  7,  2,  9, 15,  9, 15, 15,  2, 15,  3, 15,  9, 15,  2,  5, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 15, 15,  6, 15, 15, 15,  6, 15, 15,
       15,  7, 15,  9, 15,  7,  0, 15,  9, 15,  6,  6, 15,  7, 15, 15, 15,
        2,  6,  9, 15, 15,  6, 15, 15,  6, 15, 13, 15, 15,  7, 15, 15,  6,
       15, 15, 15,  9,  7,  7, 15,  6, 15, 15, 15, 15,  6, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,  6, 15, 15,
       15, 15, 15, 15,  6, 15, 15,  7,  6,  6,  9,  6,  6, 15, 15, 15,  6,
        7, 15, 15,  6, 15, 15, 15, 15, 15, 15,  9,  7, 15,  6,  9, 15,  6,
        2, 15, 15,  6, 15,  6,  6, 15, 15,  2,  6,  6,  9, 15,  6, 15,  2,
        6, 15, 15, 15,  6,  2, 12, 15,  7, 15, 15, 15, 15, 15, 15,  9,  9,
       15,  9,  6, 15, 15, 15, 15, 15,  6, 15, 15, 15,  7, 15, 15, 15, 15,
       15, 15, 15, 15,  9,  1, 15,  6, 15, 15, 15, 15, 15,  4, 15, 15,  6,
       11, 15, 15, 15,  6,  6, 15, 15, 15, 14,  9, 15,  6, 15,  6,  6, 15,
       15, 15, 15, 15, 15,  7,  7,  6, 15, 15, 15, 15, 15, 15, 15, 15,  6,
       15,  7, 15,  7, 15, 15, 15,  7, 15, 15, 15, 15, 15, 15,  9, 15,  7,
        7, 15, 15, 12, 15, 15, 15, 15, 11, 15, 15, 15, 15,  9, 15,  6, 15,
        6, 15,  2,  6, 15, 15,  2,  6, 15, 10,  7,  6, 15, 15,  7, 15, 15,
       15, 12, 15,  7, 15, 15,  7, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
        6, 15, 15,  6, 15, 15, 15, 15, 15,  2, 15,  8, 15, 15, 15, 15,  6,
        5,  7, 15, 15, 15,  6, 15, 15, 15,  2, 15, 15, 15,  9,  7, 15,  6,
       15,  6,  6, 15,  6, 15, 15, 15,  6,  7,  7, 15,  6,  6, 15, 15, 15,
       15, 15, 15, 15, 15, 15,  6, 15, 15, 15,  6, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15,  6, 15,  7, 15, 15, 15, 15, 15,  6, 15, 15,  7, 15,
        7, 15,  6,  6,  9, 15, 15, 15, 15, 10, 15,  7, 15, 15, 15,  6, 15,
       15, 15,  6, 15,  6,  2, 15,  2, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15,  7,  2,  7, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15,  6, 15,
       15, 15,  7, 15, 15, 15, 15,  6, 15, 15, 15, 15, 15])